---
const title = '';
const artist = '';
import HeartEmpty from '@/icons/heartvoid.astro';
import HeartFull from '@/icons/heartfull.astro';
const user = await Astro.locals.currentUser();
---

<style>
  @keyframes showConffeti {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .song-info-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-content: center;

    img {
      width: 5vmax;
      border-radius: 0.3vmax;
      box-shadow: 2px 2px 8px #0003;
    }

    .title {
      color: var(--theme-color);
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      p {
        margin: 0;
        font-size: 1vmax;
        padding-left: 0.6vmax;
        font-family: var(--default-font);
        text-wrap: balance;
      }
    }

    .last {
      width: 2vmax;
      display: flex;
      padding-left: 0.7vmax;
      position: relative;

      @media (width <= 1111px) and (orientation: portrait) {
        display: none;
      }

      .confetti {
        position: absolute;
        left: -0.8vmax;
        background-blend-mode: multiply;
        box-shadow: none;
        pointer-events: none;
        opacity: 0;
      }

      svg {
        width: 1.3vmax;
        height: 1.3vmax;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: calc(50% + 0.5vmax);
        transform: translate(-50%, -50%);

        @media (width <= 1111px) and (orientation: landscape) and (hover: none) {
          width: 1.5vmax;
          height: 1.5vmax;
        }

        &.heartEmpty {
          &.isSaved {
            opacity: 0;

            & + .heartFull {
              opacity: 1;
            }

            & ~ .confetti {
              animation: showConffeti 1.3s ease forwards;
            }
          }
        }

        &.heartFull {
          opacity: 0;
          pointer-events: none;
          color: var(--theme-color);
        }
      }
    }
  }
</style>

<script type='module'>
  import {
    obtenerFechaActualISO,
    addSongInPlaylist,
    FAVORITE_SLUG,
    removeSongFromPlaylist,
    updateListOfSongsItemsAfterAnUpdateOrDelete
  } from './modules/localStorage.js';
  const $heartEmpty = document.querySelector('.heartEmpty');

  const addCoverCard = link => {
    const existentCoverCard = document.querySelector('cover-card');
    if (existentCoverCard) existentCoverCard.remove();

    const coverCard = document.createElement('cover-card');
    coverCard.setAttribute('src', link);
    document.body.append(coverCard);
  };

  const image = document.querySelector('.song-info-container img');
  image.addEventListener('click', () => addCoverCard(image.src));

  document.addEventListener('player:update-info', ({ detail }) => {
    const {
      songData: { title, artist, urlPoster, urlSong, duration, slug, album },
      autoplay
    } = detail;

    const newSongObject = {
      title: title,
      fromUser: true,
      artist: artist,
      album: album,
      date: obtenerFechaActualISO(),
      duration: duration,
      urlSong: urlSong,
      urlPoster: urlPoster
    };

    localStorage.setItem('currentSongInPlayer', JSON.stringify(newSongObject));

    const container = document.querySelector('.song-info-container');
    const titleTag = container.querySelector('.title');
    const artistTag = container.querySelector('.artist');
    const imageTag = container.querySelector('img');

    titleTag.textContent = title;
    artistTag.textContent = artist;
    imageTag.src = urlPoster;
    imageTag.alt = title;
    document.body.style.setProperty('--song-image', `url(${imageTag.src})`);

    autoplay && addCoverCard(imageTag.src);
  });

  document.addEventListener('updateNewSongInFavoriteBrands', ({ detail }) => {
    const { title: titleDetail, artist: artistDetail, updating } = detail;

    setTimeout(() => {
      const titleOfTheCurrentSong = document.querySelector('.title-of-the-song');
      const artistOfTheCurrentSong = document.querySelector(
        '.artist-of-the-song'
      );
      const titleCurrent = titleOfTheCurrentSong.textContent;
      const artistCurrent = artistOfTheCurrentSong.textContent;

      // console.log(artistCurrent === artistDetail && titleCurrent === titleDetail);
      // console.log('current', { artistCurrent, titleCurrent });
      // console.log('detail', { artistDetail, titleDetail });

      if (artistCurrent === artistDetail && titleCurrent === titleDetail) {
        $heartEmpty.classList.toggle('isSaved', updating);
      }
    }, 50);
  });

  document.addEventListener('click', e => {
    if (e.target.matches('.heartEmpty')) {
      const heartEmpty = e.target;
      heartEmpty.classList.toggle('isSaved');
      const currentSonginPlayer = JSON.parse(
        localStorage.getItem('currentSongInPlayer')
      );
      
      if (heartEmpty.classList.contains('isSaved')) {
        addSongInPlaylist(FAVORITE_SLUG, currentSonginPlayer);
        updateListOfSongsItemsAfterAnUpdateOrDelete();
        return;
      }

      removeSongFromPlaylist(FAVORITE_SLUG, currentSonginPlayer);
      updateListOfSongsItemsAfterAnUpdateOrDelete();
    }
  });
</script>

<div class='song-info-container'>
  <img src='/assets/transparent.png' class='left' />
  <div class='right'>
    <p class='title title-of-the-song'>{title}</p>
    <p class='artist artist-of-the-song'>{artist}</p>
  </div>
  {
    user && (
      <aside class='last'>
        <HeartEmpty class='heartEmpty' />
        <HeartFull class='heartFull' />
        <img class='confetti' src='/assets/confetti.gif' alt='Confetti Image' />
      </aside>
    )
  }
</div>
