:root {
  --pad-gap: 1vmax;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  @keyframes showConffeti {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

button,
svg {
  &:focus {
    border: none;
    outline: none;
  }
}

@font-face {
  font-family: 'Game Bubble';
  src: url('/assets/GameBubble.woff2') format(woff2);
  font-display: swap;
}

:root {
  --font-bubble: 'Game Bubble', Impact, sans-serif;
}

body {
  min-width: 150px;
}
