---
const { title } = Astro.props;
import '@/styles/globalStyles.css';
import { SignInButton } from '@clerk/astro/components';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='shortcut icon' href='/assets/favicon.webp' type='image/x-icon' />
    <meta name='google' content='notranslate' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <SignInButton class={'buttonModalSignin'} mode='modal' />
    <button class='hidden-button-for-remove-nav-on-pointerout'></button>
  </body>
</html>

<style>
  .buttonModalSignin {
    position: absolute;
    top: 3vmax;
    left: 50%;
    pointer-events: none;
    visibility: hidden;
  }

  .hidden-button-for-remove-nav-on-pointerout {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5vmax;
    height: 2vmax;
    opacity: 0;
    background-color: PINK;
    z-index: 9999;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/open-sans.woff2') format('woff2');
    font-display: swap;
  }

  /* Reset Form */
  :global(.cl-modalBackdrop) {
    align-items: center;

    * {
      font-family: 'Open Sans';
      font-size: 1.1vmax;
    }

    .cl-modalContent {
      margin: 0;

      .cl-internal-1lb9b73 {
        .cl-navbar {
          width: 15.625vmax;
          background-color: rgb(255, 255, 255);
          border-top-right-radius: 1vmax;
          border-bottom-right-radius: 1vmax;

          .cl-navbarButtons {
            gap: 0.4vmax;

            .cl-navbarButton {
              border-radius: 0.3906vmax;
              gap: 0.5vmax;
              padding: 0.3906vmax 0.7813vmax;
              min-height: 2.0833vmax;

              .cl-navbarButtonIcon {
                width: 1.2vmax;
                height: 1.2vmax;
              }
            }
          }
        }
      }

      .cl-rootBox.cl-signIn-root {
        display: flex;
        justify-content: center;

        .cl-cardBox.cl-signIn-start {
          width: fit-content;
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.07);
          border-radius: 0.78vmax;
          color: rgb(33, 33, 38);
          position: relative;
          overflow: hidden;
          border-width: 0;
          box-shadow:
            rgba(0, 0, 0, 0.08) 0vmax 0.33vmax 0.98vmax 0vmax,
            rgba(25, 28, 33, 0.2) 0vmax 0.98vmax 2.28vmax -0.33vmax,
            rgba(0, 0, 0, 0.07) 0vmax 0vmax 0vmax 0.07vmax;
          max-width: 80%;

          .cl-card.cl-signIn-start {
            gap: 2.0833vmax;
            border-radius: 0.5214vmax;
            padding: 2.0833vmax 2.6071vmax;
            box-shadow:
              rgba(0, 0, 0, 0.08) 0px 0px 2px 0px,
              rgba(25, 28, 33, 0.06) 0px 1px 2px 0px,
              rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;

            .cl-modalCloseButton {
              box-shadow: none !important;
              top: 0.5214vmax;
              right: 0.5214vmax;
              padding: 0.7813vmax;

              svg {
                width: 0.8vmax !important;
                height: 0.8vmax !important;
              }
            }

            .cl-header {
              gap: 1.5625vmax;

              .cl-headerTitle {
                /* // h1 styles */
              }

              .cl-headerSubtitle {
                font-size: 0.9vmax;
                margin-top: 0.3vmax;
                color: transparent;
                position: relative;
                height: fit-content;
                margin-bottom: -2vmax;

                &::before {
                  content: '🎁 Benefits of Login\A'
                    '✅ Higher audio quality: 128kbps → 320kbps\A'
                    '✅ Personalized song recommendations\A'
                    '✅ Sync your music across devices\A'
                    '✅ Recently played history\A' '✅ Create playlists\A'
                    '✅ Customize your profile\A'
                    '✅ Bookmark your favorite tunes\A'
                    '✅ Download songs for offline listening\A'
                    '✅ Access to exclusive songs or early releases';
                  white-space: pre;
                  margin-inline: auto;
                  top: 0;
                  left: 0;
                  position: relative;
                  color: #222;
                  text-align: center;
                  display: inline-flex;
                  justify-content: center;
                  width: 100%;

                  /*   
                    🎁 Benefits of Login
                    ✅ Create playlists
                    ✅ Save your favorite songs
                    ✅ Higher audio quality: 128 kbps → 320 kbps
                    ✅ Sync your music across devices
                    ✅ Recently played history
                    ✅ Personalized song recommendations
                    ✅ Download songs for offline listening
                    ✅ Customize your profile and themes
                    ✅ Access to exclusive songs or early releases 
                  */
                }
              }
            }

            .cl-main {
              gap: 1.5625vmax;
              .cl-socialButtonsRoot {
                gap: 0.5214vmax;
                .cl-socialButtons {
                  gap: 0.5214vmax;

                  button {
                    padding: 0.3906vmax 0.7813vmax;
                    border-width: 0.0651vmax;
                    border-radius: 0.3906vmax;
                    box-shadow:
                      rgba(0, 0, 0, 0.08) 0px 0.1302vmax 0.1953vmax -0.0651vmax,
                      rgba(0, 0, 0, 0.02) 0px 0.0651vmax 0px 0px;
                    min-height: 2.0833vmax;
                    position: relative;
                    transition: none;

                    &:hover {
                      &::before,
                      &::after {
                        visibility: visible;
                      }
                    }

                    &::after {
                      content: '';
                      position: absolute;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      top: 0;
                      border-radius: inherit;
                      background-repeat: no-repeat;
                      background-image: url('/assets/v1.gif'), var(--bg);
                      background-position: 50% 50%;
                      background-size: 100%;
                      background-blend-mode: overlay;
                      z-index: -3;
                      filter: brightness(1) contrast(1.5);
                      transition: visibility 0.3s ease;
                      mix-blend-mode: color-dodge;
                      opacity: 0.7;
                      visibility: hidden;
                    }
                  }

                  .cl-socialButtonsIconButton {
                    margin-inline: auto;

                    @media (width <= 500px) {
                      max-width: 66%;
                    }
                  }

                  .cl-socialButtonsIconButton__github {
                    --bg: linear-gradient(135deg, #555, #f2f2f2, #6cc24a);
                    img.cl-socialButtonsProviderIcon__github {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }

                  .cl-socialButtonsIconButton__google {
                    --bg: linear-gradient(135deg, orange, #f2f2f2, #34a853);
                    img.cl-socialButtonsProviderIcon__google {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }
                  .cl-socialButtonsIconButton__twitch {
                    --bg: linear-gradient(135deg, #9146ff, #f2f2f2, #9b59b6);
                    img.cl-socialButtonsProviderIcon__twitch {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }
                }
              }

              #clerk-captcha {
                display: none !important;
              }
            }
          }

          .cl-footer {
            margin-top: -0.5214vmax;
            padding-top: 0.5214vmax;

            .cl-footerAction__signIn {
              display: none;
              .cl-footerActionText {
                /* // text styles */
              }
              .cl-footerActionLink {
                /* // link styles */
              }
            }

            .cl-internal-1dauvpw {
              padding: 1.0434vmax 2.0833vmax;
              border-top: 0.0651vmax solid rgba(0, 0, 0, 0.07);

              .cl-internal-piyvrh {
              }

              .cl-internal-df7v37 {
                gap: 0.5214vmax;

                .cl-internal-16vtwdp {
                  display: none;
                }

                .cl-internal-y44tp9 {
                  .cl-internal-16mc20d {
                    gap: 0.2602vmax;

                    p.cl-internal-wf8x4b {
                      font-size: 0.9vmax;
                    }
                    a.cl-internal-1fcj7sw {
                      svg.cl-internal-5ghyhf {
                        width: 3.125vmax;
                        height: 0.9122vmax;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Reset User Button */
  :global(.cl-rootBox) {
    .cl-userButtonTrigger {
      font-size: 1vmax;
      width: 100%;
      height: 100%;

      .cl-userButtonBox {
        gap: 0;

        .cl-avatarBox {
          width: 2vmax;
          height: 2vmax;

          .cl-avatarImage {
            --s-image: 2vmax;
          }

          .cl-internal-gpirto {
          }
        }
      }
    }
  }

  /* Reset PopoverCard */
  :global(.cl-userButtonPopoverCard) {
    top: 6vmax !important;
    right: 5vmax !important;
    width: 19vmax;
    max-width: calc(-2vmax + 100vw);
    border-radius: 0.5vmax;
    box-shadow:
      rgba(0, 0, 0, 0.08) 0px 0.325vmax 1vmax 0px,
      rgba(25, 28, 33, 0.2) 0px 0.975vmax 2.3vmax -0.325vmax,
      rgba(0, 0, 0, 0.07) 0px 0px 0px 0.06vmax;

    @media (width <= 900px) {
      width: 15vmax;
    }

    * {
      font-family: 'Open Sans';
      font-size: 0.9vmax;
    }

    div.cl-userButtonPopoverMain {
      --offset: 0.0052vmax;
      border-radius: 0vmax;
      box-shadow:
        rgba(0, 0, 0, 0.08) 0px 0px 0.125vmax 0px,
        rgba(25, 28, 33, 0.06) 0px 0.065vmax 0.125vmax 0px,
        rgba(0, 0, 0, 0.03) 0px 0px 0px 0.0625vmax;

      span.cl-userPreview {
        gap: 1.04vmax;
        padding: 1.04vmax 1.3vmax;

        span.cl-userPreviewAvatarContainer {
          span.cl-avatarBox {
            width: 2.44vmax;
            height: 2.44vmax;

            img.cl-avatarImage {
            }
            span.cl-internal-gpirto {
            }
          }
        }

        span.cl-userPreviewTextContainer {
          span.cl-userPreviewMainIdentifier {
            gap: 0.16vmax;

            span.cl-internal-3gh7hq {
            }
          }

          span.cl-userPreviewSecondaryIdentifier {
          }
        }
      }

      div.cl-userButtonPopoverActions {
        border-top: 0.06vmax solid rgba(0, 0, 0, 0.07);

        button.cl-userButtonPopoverActionButton {
          border-width: 0.00065vmax 0px 0px;

          gap: 0.5vmax;
          padding: 1vmax;
          padding-left: 1.5vmax;

          span.cl-userButtonPopoverActionButtonIconBox {
            flex: 0 0 0.145vmax;
            gap: 2vmax;

            svg {
              width: 1.6vmax;
              height: 1.6vmax;
            }
          }
        }
      }
    }

    .cl-userButtonPopoverFooter {
      &.cl-internal-d50gl1 {
        .cl-internal-1hp5nqm {
          padding: 1.04vmax 2.08vmax;

          .cl-internal-piyvrh {
          }

          .cl-internal-df7v37 {
            gap: 0.52vmax;

            .cl-internal-y44tp9 {
              .cl-internal-16mc20d {
                gap: 0.26vmax;

                p.cl-internal-wf8x4b {
                  font-size: 0.9vmax;
                }

                a.cl-internal-1fcj7sw {
                  svg {
                    width: 3.12vmax;
                    height: 0.92vmax;
                  }
                }
              }
            }

            p.cl-internal-16vtwdp {
              display: none !important;
            }
          }
        }
      }
    }
  }

  /* Sabiendo que 1536px = 100vmax 
  Y que 1rem = 16
  Convierte a vmax lo siguiente, dime la respuesta solamente */

  /* Reset Modal User */
  :global(.cl-modalContent) {
    * {
      font-family: 'Open Sans';
      font-size: 1.1vmax;
    }

    .cl-rootBox.cl-userProfile-root {
      .cl-cardBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.78vmax;
        width: 53vmax;
        height: 36.83vmax;

        @media (width <= 900px) {
          width: 40vmax;
        }

        @media (width <= 1111px) and (orientation: landscape) {
          zoom: 0.8;
          height: 34.5vmax;
        }

        @media (width <= 1111px) and (orientation: portrait) {
          width: 40.29vmax;
        }

        .cl-internal-186wk34 {
          top: 0.35vmax;
          right: 0.52vmax;
          padding: 0vmax !important;

          .cl-modalCloseButton {
            border-radius: 0.39vmax;
            padding: 0.78vmax;
            box-shadow: none;

            svg {
              width: 1vmax;
              height: 1vmax;
            }
          }
        }

        .cl-navbar {
          flex: 0 0 15.31vmax;
          max-width: 15.31vmax;
          padding: 1.8vmax 1.2vmax;
          margin-right: -0.33vmax;

          .cl-internal-13u79ez {
            /* Placeholder vacío, puede contener otro contenido dinámico */
          }

          .cl-internal-1mm78hd {
            gap: 1.95vmax;
            flex: 0 0 9.8vmax;

            .cl-internal-1agciv4 {
              gap: 0.19vmax;
              padding: 0px 0.97vmax;

              h1.cl-internal-pp7u0o {
                font-size: 1.2vmax;
              }

              p.cl-internal-168uxhv {
                /* Descripción "Manage your account info." */
              }
            }

            .cl-navbarButtons {
              gap: 0.19vmax;

              .cl-navbarButton {
                border-radius: 0.39vmax;
                gap: 0.78vmax;
                padding: 0.39vmax 0.78vmax;
                min-height: 1.3vmax;

                svg {
                  width: 1.3vmax;
                  height: 1.3vmax;
                }
              }

              .cl-navbarButton__account {
                &.cl-active {
                  /* Botón "Profile" activo */
                }

                .cl-navbarButtonIcon__account {
                  /* Ícono del botón Profile */
                }

                .cl-navbarButtonText__account {
                  /* Texto del botón Profile */
                }
              }

              .cl-navbarButton__security {
                /* Botón "Security" */

                .cl-navbarButtonIcon__security {
                  /* Ícono del botón Security */
                }

                .cl-navbarButtonText__security {
                  /* Texto del botón Security */
                }
              }
            }
          }

          .cl-internal-1dauvpw {
            .cl-internal-df7v37 {
              .cl-internal-1t1d062 {
                .cl-internal-16mc20d {
                  scale: 1.1;
                  gap: 0.26vmax;

                  p.cl-internal-wf8x4b {
                    font-size: 0.9vmax;
                  }

                  a.cl-internal-1fcj7sw {
                    svg.cl-internal-5ghyhf {
                      width: 3.12vmax;
                      height: 0.91vmax;
                    }
                  }
                }
              }

              .cl-internal-lk7758 {
                display: none;
              }
            }
          }
        }

        .cl-navbarMobileMenuRow {
          padding: 0.52vmax 0.78vmax 1.04vmax;
          margin-bottom: -0.52vmax;

          .cl-navbarMobileMenuButton {
            padding: 0.26vmax 0.78vmax;
            border-radius: 0.39vmax;
            gap: 0.65vmax;
            box-shadow: none;

            .cl-navbarMobileMenuButtonIcon {
              width: 1.1vmax;
              height: 1.1vmax;
            }
          }
        }

        .cl-scrollBox {
          border-radius: 0.52vmax;
          box-shadow:
            rgba(0, 0, 0, 0.08) 0px 0px 0.13vmax 0px,
            rgba(25, 28, 33, 0.06) 0px 0.065vmax 0.13vmax 0px,
            rgba(0, 0, 0, 0.03) 0px 0px 0px 0.065vmax;
          scrollbar-width: thin;

          .cl-pageScrollBox::-webkit-scrollbar {
            width: 0.7vmax;
          }
          .cl-pageScrollBox::-webkit-scrollbar-thumb {
            background-color: #0005;
          }

          .cl-pageScrollBox::-webkit-scrollbar-track {
            background: transparent;
          }

          .cl-pageScrollBox {
            padding: 1.89vmax 1.63vmax 1.89vmax 2.17vmax;

            .cl-page {
              gap: 2.08vmax;

              .cl-profilePage {
                .cl-header {
                  gap: 1.56vmax;
                  max-height: 2.5vmax;

                  .cl-internal-1pr5xvn {
                    gap: 0.26vmax;

                    .cl-headerTitle {
                      font-size: 1.2vmax;
                    }
                  }
                }

                .cl-profileSection {
                  border-top: 0.065vmax solid rgba(0, 0, 0, 0.07);
                  padding-top: 1.04vmax;
                  padding-bottom: 1.04vmax;
                  gap: 1.56vmax;

                  &.cl-profileSection__activeDevices {
                    .cl-profileSectionTitleText {
                      font-size: 1.1vmax;
                    }

                    .cl-profileSectionContent {
                      .cl-profileSectionItemList {
                        gap: 0.1302vmax;

                        .cl-activeDeviceListItem {
                          padding: 0.2604vmax 0.2604vmax 0.2604vmax 0.651vmax;
                          gap: 0.5208vmax;

                          .cl-menuButtonEllipsis {
                            border-radius: 0.3906vmax;
                            padding: 0.1302vmax;
                            box-shadow: none;
                            display: none;
                          }

                          .cl-activeDevice {
                            gap: 1.0416vmax;

                            .cl-internal-1l44wic {
                              border-radius: 0.3906vmax;
                              align-items: center;

                              svg {
                                width: 3vmax;
                                height: 3vmax;
                              }
                            }

                            .cl-internal-kp2e6f {
                              gap: 0.2604vmax;

                              .cl-internal-1puq111 {
                                gap: 0.5vmax;

                                .cl-badge {
                                  box-shadow:
                                    rgba(0, 0, 0, 0.11) 0 0 0 0.0651vmax,
                                    rgba(0, 0, 0, 0.04) 0 0.1302vmax 0 -0.0651vmax;
                                  border-radius: 0.2604vmax;
                                  padding: 0.0651vmax 0.3906vmax;
                                  margin: 0.0651vmax;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  &.cl-profileSection__danger {
                    .cl-actionCard {
                      .cl-formContainer {
                        .cl-internal-1df5v2y {
                          .cl-form {
                            .cl-internal-1pr5xvn {
                              gap: 0.2604vmax;
                            }

                            .cl-formFieldRow {
                              gap: 1.0416vmax;

                              .cl-formField {
                                .cl-internal-11m7oop {
                                  gap: 0.5208vmax;

                                  .cl-formFieldInput {
                                    box-shadow:
                                      rgba(0, 0, 0, 0.11) 0 0 0 0.0651vmax,
                                      rgba(0, 0, 0, 0.07) 0 0 0.0651vmax 0;
                                    padding: 0.3906vmax 0.7812vmax;
                                    outline: transparent solid 0.1302vmax;
                                    outline-offset: 0.1302vmax;
                                    max-height: 2.3448vmax;
                                    border-radius: 0.3906vmax;
                                  }
                                }
                              }
                            }

                            .cl-internal-1qtx1c6 {
                              .cl-formButtonPrimary.cl-internal-11ltjee {
                                background: rgba(255, 0, 0, 0.9) !important;
                                color: #333 !important;
                                box-shadow:
                                  rgb(255, 0, 0) 0 0 0 0.0651vmax,
                                  rgba(255, 0, 0, 0.07) 0 0.0651vmax 0.0651vmax 0
                                    inset,
                                  rgba(255, 0, 0, 0.2) 0 0.1302vmax 0.1953vmax 0,
                                  rgba(255, 0, 0, 0.24) 0 0.0651vmax 0.0651vmax 0 !important;
                              }
                            }
                          }
                        }
                      }
                    }

                    .cl-profileSectionHeader {
                      @media (width <= 900px) {
                        display: none;
                      }
                    }
                  }

                  .cl-profileSectionContent {
                    gap: 0.52vmax;

                    .cl-profileSectionItem {
                      padding: 0.26vmax 0.26vmax 0.26vmax 0.65vmax;
                      gap: 0.52vmax;

                      .cl-userPreview {
                        gap: 1.04vmax;

                        .cl-userPreviewAvatarContainer {
                          .cl-avatarBox {
                            width: 2.7vmax;
                            height: 2.7vmax;

                            .cl-avatarImage {
                              /* Aquí irían los estilos para .cl-avatarImage */
                            }
                          }
                        }
                        .cl-userPreviewTextContainer {
                          .cl-userPreviewMainIdentifier {
                            .cl-userPreviewMainIdentifierText {
                              /* Aquí irían los estilos para .cl-userPreviewMainIdentifierText */
                            }
                          }
                        }
                      }
                      .cl-profileSectionPrimaryButton {
                        border-radius: 0.39vmax;
                        gap: 0.52vmax;
                        padding: 0.39vmax 0.78vmax 0.39vmax 0.65vmax;
                        box-shadow: none;
                      }
                    }

                    .cl-actionCard {
                      gap: 1.0417vmax;
                      border-radius: 0.5208vmax;
                      padding: 1.0417vmax 1.3021vmax;
                      box-shadow:
                        rgba(0, 0, 0, 0.12) 0 0.0651vmax 0.2604vmax 0,
                        rgba(106, 115, 133, 0.12) 0 0.2604vmax 0.5208vmax 0,
                        rgba(0, 0, 0, 0.07) 0 0 0 0.0651vmax;

                      .cl-formContainer {
                        gap: 1.0417vmax;

                        .cl-internal-1df5v2y {
                          gap: 2.0833vmax;

                          .cl-form {
                            gap: 1.5625vmax;

                            .cl-internal-keygyz {
                              gap: 1.0417vmax;

                              .cl-internal-8024ga {
                                gap: 1.0417vmax;

                                .cl-avatarBox {
                                  width: 3.125vmax;
                                  height: 3.125vmax;
                                }

                                .cl-internal-1pr5xvn {
                                  gap: 0.2604vmax;

                                  .cl-avatarImageActions {
                                    gap: 0.5208vmax;

                                    .cl-button {
                                      padding: 0.2604vmax 0.7813vmax;
                                      border-radius: 0.5vmax;
                                    }

                                    .cl-avatarImageActionsUpload {
                                      box-shadow:
                                        rgba(0, 0, 0, 0.07) 0 0 0 0.0651vmax,
                                        rgba(0, 0, 0, 0.08) 0 0.1302vmax
                                          0.1953vmax -0.0651vmax,
                                        rgba(0, 0, 0, 0.02) 0 0.0651vmax 0 0;
                                    }
                                  }
                                }
                              }
                            }

                            .cl-internal-1qtx1c6 {
                              gap: 0.5208vmax;

                              .cl-button {
                                padding: 0.3906vmax 0.7813vmax;
                                border-radius: 0.3906vmax;
                                box-shadow: none;

                                &.cl-formButtonPrimary {
                                  background: rgb(30, 144, 255);
                                  color: #333;
                                  box-shadow:
                                    rgb(30, 144, 255) 0 0 0 0.0651vmax,
                                    rgba(30, 144, 255, 0.07) 0 0.0651vmax
                                      0.0651vmax 0 inset,
                                    rgba(30, 144, 255, 0.2) 0 0.1302vmax
                                      0.1953vmax 0,
                                    rgba(30, 144, 255, 0.24) 0 0.0651vmax
                                      0.0651vmax 0;
                                  opacity: 1;
                                  transition: opacity 0.3s ease;

                                  &:active {
                                    opacity: 0.5;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                  .cl-profileSectionHeader {
                    gap: 0.26vmax;
                    width: 17.16vmax;
                    top: 50%;
                    margin-top: 0;
                    transform: translateY(0%);
                    display: flex;
                    justify-content: center;
                    height: 100%;

                    .cl-profileSectionTitle {
                      .cl-profileSectionTitleText {
                      }
                    }
                  }
                }

                .cl-profileSection.cl-profileSection__connectedAccounts {
                  .cl-profileSectionContent.cl-profileSectionContent__connectedAccounts {
                    .cl-profileSectionItemList {
                      gap: 0.13vmax;

                      .cl-actionCard {
                        gap: 1.0417vmax;
                        border-radius: 0.5208vmax;
                        padding: 1.0417vmax 1.3021vmax;
                        box-shadow:
                          rgba(0, 0, 0, 0.12) 0 0.0651vmax 0.2604vmax 0,
                          rgba(106, 115, 133, 0.12) 0 0.2604vmax 0.5208vmax 0,
                          rgba(0, 0, 0, 0.07) 0 0 0 0.0651vmax;

                        .cl-formContainer {
                          gap: 1.0417vmax;

                          .cl-internal-1df5v2y {
                            gap: 2.0833vmax;

                            .cl-form {
                              gap: 1.5625vmax;

                              .cl-internal-1qtx1c6 {
                                gap: 0.5208vmax;

                                .cl-formButtonPrimary {
                                  box-shadow:
                                    rgb(239, 68, 68) 0 0 0 0.0651vmax,
                                    rgba(255, 255, 255, 0.07) 0 0.0651vmax
                                      0.0651vmax 0 inset,
                                    rgba(34, 42, 53, 0.2) 0 0.1302vmax 0.1953vmax
                                      0,
                                    rgba(0, 0, 0, 0.24) 0 0.0651vmax 0.0651vmax 0;
                                  padding: 0.3906vmax 0.7813vmax;
                                  border-radius: 0.3906vmax;
                                }

                                .cl-formButtonReset {
                                  padding: 0.3906vmax 0.7813vmax;
                                  border-radius: 0.3906vmax;
                                  box-shadow: none !important;
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    .cl-profileSectionItem.cl-profileSectionItem__connectedAccounts {
                      .cl-internal-160m63s {
                        gap: 0.52vmax;

                        img {
                          width: 1.1vmax;
                        }
                      }
                      .cl-internal-1hrok3x {
                        .cl-internal-14bdj0h {
                          gap: 0.26vmax;

                          p.cl-internal-1pz8pdy {
                          }
                          span.cl-internal-1v9xsvw {
                          }
                        }
                      }
                      button.cl-menuButtonEllipsis.cl-menuButton.cl-button {
                        border-radius: 0.39vmax;
                        padding: 0.13vmax;
                        box-shadow: none !important;

                        svg {
                          width: auto;
                          height: 1.3vmax;
                        }
                      }
                    }

                    .cl-internal-1aovd6g {
                      button.cl-menuButton.cl-button.cl-menuButton__connectedAccounts.cl-button__connectedAccounts {
                        border-radius: 0.39vmax;
                        gap: 0.26vmax;
                        padding: 0.39vmax 0.78vmax 0.39vmax 0.65vmax;
                        height: 2.08vmax;
                        box-shadow: none !important;
                        --arrow-transform: translateX(-0.52vmax);

                        .cl-internal-eukaea {
                          flex: 0 0 1.3vmax;

                          svg {
                            width: 1.1vmax;
                            height: 1.1vmax;
                          }
                        }

                        .cl-internal-hd6eiz {
                          gap: 0.52vmax;
                        }

                        .cl-internal-xkj3jj {
                          min-width: 1.1vmax;
                          min-height: 1.1vmax;
                          width: 1.1vmax;
                          height: 1.1vmax;
                          margin-left: 0.5vmax;
                          display: none;
                        }
                      }

                      .cl-menuList__connectedAccounts {
                        top: 2.4vmax !important;
                        border-radius: 0.39vmax;
                        gap: 0.13vmax;
                        padding: 0.2vmax;
                        box-shadow:
                          rgba(0, 0, 0, 0.03) 0px 0.52vmax 1vmax 0px,
                          rgba(25, 28, 33, 0.2) 0px 1vmax 3.65vmax -0.52vmax,
                          rgba(0, 0, 0, 0.03) 0px 0px 0px 0.1vmax;

                        .cl-menuItem {
                          border-radius: 0.26vmax;
                          padding: 0.39vmax 0.42vmax;
                          gap: 0.52vmax;

                          .cl-internal-1lerq0t {
                            flex: 0 0 1.04vmax;

                            img {
                              width: 1.1vmax;
                            }
                          }
                        }
                      }
                    }
                  }

                  .cl-profileSectionHeader.cl-profileSectionHeader__connectedAccounts {
                    .cl-profileSectionTitle.cl-profileSectionTitle__connectedAccounts {
                      p.cl-profileSectionTitleText.cl-profileSectionTitleText__connectedAccounts {
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cl-footer {
          &.cl-internal-to9o31 {
            margin-top: -0.52vmax;
            padding-top: 0.52vmax;

            .cl-internal-1hp5nqm {
              zoom: 1.2;
              padding: 1.4vmax 2.08vmax;

              .cl-internal-df7v37 {
                gap: 0.52vmax;

                .cl-internal-y44tp9 {
                  .cl-internal-16mc20d {
                    gap: 0.26vmax;

                    p.cl-internal-wf8x4b {
                      font-size: 0.9vmax;
                    }

                    a.cl-internal-1fcj7sw {
                      svg.cl-internal-5ghyhf {
                        width: 3.12vmax;
                        height: 0.91vmax;
                      }
                    }
                  }
                }
              }

              p.cl-internal-16vtwdp {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  /* Remove button */
  :global(.cl-menuList.cl-internal-6lplep) {
    border-radius: 0.3906vmax;
    padding: 0;
    gap: 0;
    box-shadow:
      rgba(0, 0, 0, 0.08) 0px 0.3255vmax 0.9766vmax 0px,
      rgba(25, 28, 33, 0.2) 0px 0.9766vmax 2.2786vmax -0.3255vmax,
      rgba(0, 0, 0, 0.07) 0px 0px 0px 0.0651vmax;
    top: 4.6289vmax;
    left: 7.0776vmax;
    transition: transform 0.1s ease;

    @media (width <= 770px) {
      transform: translateY(-3vmax);
    }

    .cl-internal-1okq43f {
      border-radius: 0.3906vmax;
      padding: 0.5vmax;
      gap: 0.1302vmax;
      box-shadow:
        0px 0.3255vmax 0.9765vmax 0px rgba(0, 0, 0, 0.08),
        0px 0.9765vmax 2.2799vmax -0.3255vmax rgba(25, 28, 33, 0.2),
        0px 0px 0px 0.0651vmax rgba(0, 0, 0, 0.07);
      font-size: 1vmax;
    }
  }

  :root {
    --light-bgcolor: #232323;
    --medium-bgcolor: #121212;
    --dark-bgcolor: #000;
    --border-radius: 1vmax;

    --theme-color: #08d437;

    --light-textcolor: #fff;
    --dark-textcolor: #c6c2be;
    --accent-color: #1ed760;
    --offset: 0.5rem;

    --default-font: 'Open Sans', sans-serif, system-ui;
    --player-height: 7vmax;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    color-scheme: dark;

    @media (width <= 1111px) {
      scrollbar-width: thin;
    }
  }

  body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;

    @media (width <= 1111px) {
      overflow-y: auto;
    }
  }
</style>

<script>
  import { $ } from '@/utils/functions';
  import FavoriteBrands from '@/data/favoritebrands.json';

  const profile = $('.profile.openLogin') as HTMLElement;
  profile?.addEventListener('click', e => {
    const $signinButton = $('.buttonModalSignin') as HTMLElement;
    setTimeout(() => {
      $signinButton.click();
    }, 5);
  });

  //LocalStorage
  const PREFIX_LS = 'playlist_hub_';
  const FAV_PLAYLIST = 'favoritebrands';
  const LS_FAVORITE_BRANDS = `${PREFIX_LS}${FAV_PLAYLIST}`;
  if (!localStorage.getItem(LS_FAVORITE_BRANDS)) {
    const jsonFavoriteBrands = JSON.stringify(FavoriteBrands);
    localStorage.setItem(LS_FAVORITE_BRANDS, jsonFavoriteBrands);
  }

  // Hidden Nav if not have focus
  setTimeout(() => {
    const profileButton = $('.profile-open-manage-and-logout') as HTMLElement;
    profileButton?.addEventListener('click', e => {
      setTimeout(() => {
        const profileNavManageAndSignOut = $(
          '.cl-userButtonPopoverCard.cl-popoverBox.cl-userButton-popover'
        ) as HTMLElement;

        profileNavManageAndSignOut?.addEventListener(
          'pointerout',
          (e: PointerEvent) => {
            const targetElement = e.relatedTarget as HTMLElement;
            if (!profileNavManageAndSignOut.contains(targetElement)) {
              const $buttonHidden = $(
                '.hidden-button-for-remove-nav-on-pointerout'
              ) as HTMLButtonElement;

              const evt = new PointerEvent('pointerdown', { bubbles: true });
              $buttonHidden.dispatchEvent(evt);
            }
          }
        );
      }, 15);
    });
  }, 100);

  window.addEventListener('resize', e => {
    document.title = `${window.innerWidth}`;
  });
</script>
