---
const { title } = Astro.props;
import '@/styles/globalStyles.css';
import {
  SignInButton,
  SignedIn,
  SignedOut,
  UserButton
} from '@clerk/astro/components';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='shortcut icon' href='./assets/favicon.webp' type='image/x-icon' />
    <meta name='google' content='notranslate' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <SignInButton class={'buttonModalSignin'} mode='modal' />

    <SignedIn>
      <button class='profile' style="--bg: url('./assets/v1.gif')">
        <UserButton />
        <!-- <UserButton
          appearance={{
            elements: {
              userButtonAvatarBox: {
                width: '2vmax',
                height: '2vmax',
                borderRadius: '50%',
                overflow: 'hidden'
              },
              avatarImage: {
                width: '100%',
                height: '100%',
                objectFit: 'cover'
              }
            }
          }}
        /> -->
      </button>
    </SignedIn>

    <SignedOut>
      <button class='profile openLogin' style="--bg: url('./assets/v1.gif')">
        <img src='./assets/profile1.png' alt='profile' />
      </button>
    </SignedOut>
  </body>
</html>

<style>
  .buttonModalSignin {
    position: absolute;
    top: 3vmax;
    left: 50%;
    pointer-events: none;
    visibility: hidden;
  }

  button {
    &.profile {
      animation: none;
      overflow: hidden;
      transition:
        transform 0.5s ease,
        box-shadow 0.2s ease;
      will-change: transform, filter;
      z-index: 10;
      touch-action: none;
      isolation: isolate;
      width: 100%;
      position: absolute;
      width: 2.5vmax;
      height: 2.5vmax;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      text-align: center;
      cursor: pointer;
      background: color-mix(in srgb, var(--theme-color) 50%, black 30%);
      backdrop-filter: blur(0.2vmax);
      transition: opacity 0.3s ease;
      aspect-ratio: 1;
      top: 2.5vmax;
      right: 5.9vmax;

      @media (width >= 1111px) {
        right: 6.2vmax;
      }

      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-repeat: no-repeat;
        background-image: url('assets/profile1.png'), var(--bg),
          linear-gradient(
            125deg,
            #ff008450 15%,
            #fca40040 30%,
            #ffff0030 40%,
            #00ff8a20 60%,
            #00cfff40 70%,
            #cc4cfa50 85%
          );
        background-position: 50% 50%;
        background-size: 200%;
        background-blend-mode: overlay;
        z-index: 15;
        filter: brightness(1) contrast(1.5);
        transition: all 0.33s ease;
        mix-blend-mode: color-dodge;
        opacity: 0.8;
      }
    }

    &:active {
      opacity: 0.5;
    }

    img {
      pointer-events: none;
      --s-image: 1.9vmax;
      width: var(--s-image);
      height: var(--s-image);
    }
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('./fonts/open-sans.woff2') format('woff2');
    font-display: swap;
  }

  /* Reset Form */
  :global(.cl-modalBackdrop) {
    align-items: center;

    * {
      font-family: 'Open Sans';
      font-size: 1.1vmax;
    }

    .cl-modalContent {
      margin: 0;

      .cl-rootBox.cl-signIn-root {
        display: flex;
        justify-content: center;

        .cl-cardBox.cl-signIn-start {
          width: fit-content;
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.07);
          border-radius: 0.78vmax;
          color: rgb(33, 33, 38);
          position: relative;
          overflow: hidden;
          border-width: 0;
          box-shadow:
            rgba(0, 0, 0, 0.08) 0vmax 0.33vmax 0.98vmax 0vmax,
            rgba(25, 28, 33, 0.2) 0vmax 0.98vmax 2.28vmax -0.33vmax,
            rgba(0, 0, 0, 0.07) 0vmax 0vmax 0vmax 0.07vmax;
          max-width: 80%;

          .cl-card.cl-signIn-start {
            gap: 2.0833vmax;
            border-radius: 0.5214vmax;
            padding: 2.0833vmax 2.6071vmax;
            box-shadow:
              rgba(0, 0, 0, 0.08) 0px 0px 2px 0px,
              rgba(25, 28, 33, 0.06) 0px 1px 2px 0px,
              rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;

            .cl-modalCloseButton {
              box-shadow: none !important;
              top: 0.5214vmax;
              right: 0.5214vmax;
              padding: 0.7813vmax;

              svg {
                width: 0.8vmax !important;
                height: 0.8vmax !important;
              }
            }

            .cl-header {
              gap: 1.5625vmax;

              .cl-headerTitle {
                /* // h1 styles */
              }

              .cl-headerSubtitle {
                font-size: 0.9vmax;
                margin-top: 0.3vmax;
                color: transparent;
                position: relative;
                height: fit-content;
                margin-bottom: -2vmax;

                &::before {
                  content: '🎁 Benefits of Login\A' '✅ Create playlists\A'
                    '✅ Higher audio quality: 128kbps → 320kbps\A'
                    '✅ Personalized song recommendations\A'
                    '✅ Sync your music across devices\A'
                    '✅ Recently played history\A' '✅ Save your favorite songs\A'
                    '✅ Download songs for offline listening\A'
                    '✅ Customize your profile and themes\A'
                    '✅ Access to exclusive songs or early releases';
                  white-space: pre;
                  margin-inline: auto;
                  top: 0;
                  left: 0;
                  position: relative;
                  color: #222;
                  text-align: center;
                  display: inline-flex;
                  justify-content: center;
                  width: 100%;

                  /*   
                    🎁 Benefits of Login
                    ✅ Create playlists
                    ✅ Save your favorite songs
                    ✅ Higher audio quality: 128 kbps → 320 kbps
                    ✅ Sync your music across devices
                    ✅ Recently played history
                    ✅ Personalized song recommendations
                    ✅ Download songs for offline listening
                    ✅ Customize your profile and themes
                    ✅ Access to exclusive songs or early releases 
                  */
                }
              }
            }

            .cl-main {
              gap: 1.5625vmax;
              .cl-socialButtonsRoot {
                gap: 0.5214vmax;
                .cl-socialButtons {
                  gap: 0.5214vmax;

                  button {
                    padding: 0.3906vmax 0.7813vmax;
                    border-width: 0.0651vmax;
                    border-radius: 0.3906vmax;
                    box-shadow:
                      rgba(0, 0, 0, 0.08) 0px 0.1302vmax 0.1953vmax -0.0651vmax,
                      rgba(0, 0, 0, 0.02) 0px 0.0651vmax 0px 0px;
                    min-height: 2.0833vmax;
                    position: relative;
                    transition: none;

                    &:hover {
                      &::before,
                      &::after {
                        visibility: visible;
                      }
                    }

                    &::after {
                      content: '';
                      position: absolute;
                      left: 0;
                      right: 0;
                      bottom: 0;
                      top: 0;
                      border-radius: inherit;
                      background-repeat: no-repeat;
                      background-image: url('/assets/v1.gif'), var(--bg);
                      background-position: 50% 50%;
                      background-size: 100%;
                      background-blend-mode: overlay;
                      z-index: -3;
                      filter: brightness(1) contrast(1.5);
                      transition: visibility 0.3s ease;
                      mix-blend-mode: color-dodge;
                      opacity: 0.7;
                      visibility: hidden;
                    }
                  }

                  .cl-socialButtonsIconButton__github {
                    --bg: linear-gradient(135deg, #555, #f2f2f2, #6cc24a);
                    img.cl-socialButtonsProviderIcon__github {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }

                  .cl-socialButtonsIconButton__google {
                    --bg: linear-gradient(135deg, #34a853, #f2f2f2, #4285f4);
                    img.cl-socialButtonsProviderIcon__google {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }
                  .cl-socialButtonsIconButton__twitch {
                    --bg: linear-gradient(135deg, #9146ff, #f2f2f2, #9b59b6);
                    img.cl-socialButtonsProviderIcon__twitch {
                      width: 1vmax;
                      height: 1vmax;
                    }
                  }
                }
              }

              #clerk-captcha {
                display: none !important;
              }
            }
          }

          .cl-footer {
            margin-top: -0.5214vmax;
            padding-top: 0.5214vmax;

            .cl-footerAction__signIn {
              display: none;
              .cl-footerActionText {
                /* // text styles */
              }
              .cl-footerActionLink {
                /* // link styles */
              }
            }

            .cl-internal-1dauvpw {
              padding: 1.0434vmax 2.0833vmax;
              border-top: 0.0651vmax solid rgba(0, 0, 0, 0.07);

              .cl-internal-piyvrh {
              }

              .cl-internal-df7v37 {
                gap: 0.5214vmax;

                .cl-internal-16vtwdp {
                  display: none;
                }

                .cl-internal-y44tp9 {
                  .cl-internal-16mc20d {
                    gap: 0.2602vmax;

                    p.cl-internal-wf8x4b {
                      font-size: 0.9vmax;
                    }
                    a.cl-internal-1fcj7sw {
                      svg.cl-internal-5ghyhf {
                        width: 3.125vmax;
                        height: 0.9122vmax;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* Reset User Button */
  :global(.cl-rootBox) {
    .cl-userButtonTrigger {
      font-size: 1vmax;
      width: 100%;
      height: 100%;

      .cl-userButtonBox {
        gap: 0;

        .cl-avatarBox {
          width: 2vmax;
          height: 2vmax;

          .cl-avatarImage {
            --s-image: 2vmax;
          }

          .cl-internal-gpirto {
          }
        }
      }
    }
  }

  /* Reset PopoverCard */
  :global(.cl-userButtonPopoverCard) {
    * {
      font-family: 'Open Sans';
      font-size: 1.1vmax;
    }

    div.cl-userButtonPopoverMain {
      --offset: 0.5rem;
      border-radius: 0.5rem;
      box-shadow:
        rgba(0, 0, 0, 0.08) 0px 0px 2px 0px,
        rgba(25, 28, 33, 0.06) 0px 1px 2px 0px,
        rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;

      span.cl-userPreview {
        span.cl-userPreviewAvatarContainer {
          span.cl-avatarBox {
            img.cl-avatarImage {
            }
            span.cl-internal-gpirto {
            }
          }
        }
        span.cl-userPreviewTextContainer {
          span.cl-userPreviewMainIdentifier {
            span.cl-internal-3gh7hq {
            }
          }
          span.cl-userPreviewSecondaryIdentifier {
          }
        }
      }
      div.cl-userButtonPopoverActions {
        button.cl-userButtonPopoverActionButton__manageAccount {
          span.cl-userButtonPopoverActionButtonIconBox {
            svg {
            }
          }
        }
        button.cl-userButtonPopoverActionButton__signOut {
          span.cl-userButtonPopoverActionButtonIconBox {
            svg {
            }
          }
        }
      }
    }
  }

  /* Reset Modal User */
  :global(.cl-modalContent) {
    /* Estilos generales del modal */

    .cl-rootBox.cl-userProfile-root {
      .cl-cardBox {
        .cl-internal-186wk34 {
          .cl-modalCloseButton {
            /* Estilo para el botón de cerrar */

            svg {
              path {
                /* Estilo del ícono "X" */
              }
            }
          }
        }

        .cl-navbar {
          .cl-internal-13u79ez {
            /* Placeholder vacío, puede contener otro contenido dinámico */
          }

          .cl-internal-1mm78hd {
            .cl-internal-1agciv4 {
              h1.cl-internal-pp7u0o {
                /* Título "Account" */
              }

              p.cl-internal-168uxhv {
                /* Descripción "Manage your account info." */
              }
            }

            .cl-navbarButtons {
              .cl-navbarButton__account {
                &.cl-active {
                  /* Botón "Profile" activo */
                }

                .cl-navbarButtonIcon__account {
                  /* Ícono del botón Profile */
                }

                .cl-navbarButtonText__account {
                  /* Texto del botón Profile */
                }
              }

              .cl-navbarButton__security {
                /* Botón "Security" */

                .cl-navbarButtonIcon__security {
                  /* Ícono del botón Security */
                }

                .cl-navbarButtonText__security {
                  /* Texto del botón Security */
                }
              }
            }
          }

          .cl-internal-1dauvpw {
            .cl-internal-df7v37 {
              .cl-internal-1t1d062 {
                .cl-internal-16mc20d {
                  p.cl-internal-wf8x4b {
                    /* Texto "Secured by" */
                  }

                  a.cl-internal-1fcj7sw {
                    /* Enlace a Clerk */

                    svg.cl-internal-5ghyhf {
                      ellipse,
                      path {
                        /* Logo de Clerk */
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  :root {
    --light-bgcolor: #232323;
    --medium-bgcolor: #121212;
    --dark-bgcolor: #000;
    --border-radius: 1vmax;

    --theme-color: #08d437;

    --light-textcolor: #fff;
    --dark-textcolor: #c6c2be;
    --accent-color: #1ed760;
    --offset: 0.5rem;

    --default-font: 'Open Sans', sans-serif, system-ui;
    --player-height: 7vmax;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    color-scheme: dark;

    @media (width <= 1111px) {
      scrollbar-width: thin;
    }
  }

  body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;

    @media (width <= 1111px) {
      overflow-y: auto;
    }
  }
</style>

<script>
  import { $ } from '@/utils/functions';
  const profile = $('.profile.openLogin') as HTMLElement;
  profile?.addEventListener('click', e => {
    const $signinButton = $('.buttonModalSignin') as HTMLElement;
    setTimeout(() => {
      $signinButton.click();
    }, 5);
  });

  window.addEventListener('resize', e => {
    document.title = `${window.innerWidth}`;
  });
</script>
